h1{
    border: 10px solid;
    color: blue;
}
p.intro{
    color: hotpink
    }
ol.Selectors{
    color: blue;
    border: 2cm;
}
h3.Selectors{
    color: purple;
}
.Selectors{
    background-color: aqu;
}

